{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}Fluxora{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body class="theme">
  {% include 'partials/_topbar.html' %}
  <div class="layout">
    {% include 'partials/_sidebar.html' %}
    <main>
      {% include 'partials/_flash.html' %}
      {% block content %}{% endblock %}
    </main>
  </div>
  <script src="{% static 'js/app.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>

